

#gameBoard{
    width: 700px;    
    height: 620px;
    border-style:solid;
    border-width:1px;
    border-color:black;
    margin:0;
    padding:0;
    background-image: url("grass.jpg");
}
#scoreBoard{
    background: silver;
    width: 680px;    
    height: 105px;
    margin:10px 10px;
    position:relative;
    border-style:solid;
    border-width:2px;
    border-color:black;
}
#playBoard{
    margin:10px 10px;
    width:680px;
    height:500px;
    position:relative;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}
/*   http://cssgridgarden.com/   */
#DogPlayer {
    background:url('DogPicture.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
#DogAI1 {
    background:url('DogPicture.jpg');
    background-size: contain;
    background-repeat: no-repeat;}
#DogAI2 {
    background:url('DogPicture.jpg');
    background-size: contain;
    background-repeat: no-repeat;}
#DogAI3 {
    background:url('DogPicture.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}

#PlayerKennel {
    background:url('kennel.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#Kennel1 {
    background:url('kennel.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#Kennel2 {
   background:url('kennel.png');
    background-size: contain;
   background-repeat: no-repeat;
}
#Kennel3 {
   background:url('kennel.png');
    background-size: contain;
   background-repeat: no-repeat;
}

#Landmark1 {
    background:url('fire-hydrant.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#Landmark2 {
    background:url('fire-hydrant.png');
    background-size: contain;
    background-repeat: no-repeat;}
#Landmark3 {
    background:url('fire-hydrant.png');
    background-size: contain;
    background-repeat: no-repeat;}
#Landmark4 {
    background:url('fire-hydrant.png');
    background-size: contain;
    background-repeat: no-repeat;}
#Landmark5 {
    background:url('fire-hydrant.png');
    background-size: contain;
    background-repeat: no-repeat;}
#Landmark6 {
background:url('fire-hydrant.png');
    background-size: contain;
    background-repeat: no-repeat;}
#Landmark7 {
background:url('fire-hydrant.png');
    background-size: contain;
    background-repeat: no-repeat;}
#Landmark8 {
    background:url('fire-hydrant.png');
    background-size: contain;
    background-repeat: no-repeat;}
#Landmark9 {
    background:url('fire-hydrant.png');
    background-size: contain;
    background-repeat: no-repeat;}
#Landmark10 {
    background:url('fire-hydrant.png');
    background-size: contain;
    background-repeat: no-repeat;}
#Landmark11 {
    background:url('fire-hydrant.png');
    background-size: contain;
    background-repeat: no-repeat;}
#Landmark12 {
    background:url('fire-hydrant.png');
    background-size: contain;
    background-repeat: no-repeat;}
#StopStart {
    display: inline-block;
    width: 36%;
    height: auto;
}
#GameStopped {
    display: block;
    width: auto;
    height: auto;
}
#GameRunning {
    display: block;
    width: auto;
    height: auto;
}
#Status{
    font-weight:bold;
    width: auto;    
    height: auto;
    text-align:center;
    display: inline-block;
    font-size: 20px;
    width: 30%;
}
#Time {
    display: inline-block;
    width: 30%;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}
.btnStyle {
	border-radius: 4px;
	border: thin solid #F0E020;
	background-color: #F8F094;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size:20px;
	color: #663300;
	padding: 5px 15px;
    margin:8px 7px;
    text-align: center;
    width: auto;
}

.btnStyle:active {
	border: thin solid #99CC00;
	background-color: #F5FFD2;
	color: #669900;
	cursor: pointer;
}

.btnStyle:hover {
	border: thin solid #FFCC00;
	background-color: #FCF9D6;
	color: #996633;
	cursor: pointer;
}

