#gameBoard{
    width: 700px;    
    height: 620px;
    border-style:solid;
    border-width:1px;
    border-color:black;
    margin:0;
    padding:0;
    background-image: url("../images/grass2.jpg");
}
#scoreBoard{
    background: silver;
    width: auto;    
    height: 105px;
    position:relative;
    border-bottom:1.5px solid;
    border-color:black;
}
#playBoard{
    margin:10px 10px;
    width:680px;
    height:500px;
    position:relative;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}
/*   http://cssgridgarden.com/   */
#DogPlayer {
    background-image:url('../images/blueDog/right/rightGif.gif');
    /*background-size: contain;
    background-repeat: no-repeat;*/
	position: absolute;
	width: 32px;
	height: 32px;
	background-size: contain;
    background-repeat: no-repeat;
}
#DogAI1 {
    background:url('../images/DogPicture.jpg');
    background-size: contain;
    background-repeat: no-repeat;}
#DogAI2 {
    background:url('../images/DogPicture.jpg');
    background-size: contain;
    background-repeat: no-repeat;}
#DogAI3 {
    background:url('../images/DogPicture.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}

#PlayerKennel {
    background:url('../images/kennel.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#StopStart {
    display: inline-block;
    width: 25%;
    height: auto;
}
#GameStopped {
    display: block;
    width: auto;
    height: auto;
}
#GameRunning {
    display: block;
    width: auto;
    height: auto;
}
#Status{
    position: absolute;
    top: 35px;
    left: 20px;
    font-weight:bold;
    width: auto;    
    height: auto;
    text-align:center;
    display: inline-block;
    font-size: 22px;
    width: 30%;
}
#Time {
    display: inline-block;
    position: absolute;
    right: 200px;
    top:20px;
    width: 43%;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
}
#Score {
    display: inline-block;
    position: absolute;
    right: 200px;
    top: 60px;
    width: 43%;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
}
#WinScreen {
    float: center;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
#playAgain {
    border: solid 4px;
}
#playAgain:hover {
    text-align: center;
    color: blue;
    cursor: pointer;
}
#Instructions {
    text-align-last: center;
    font-size: xx-large;
    font-weight: bold;
    border:dashed 3px;
    border-color: white;
    background-color: white;
    opacity: .6;
    padding-bottom: 211.8px;
}
.instructions {
    opacity: 0.4;
}
#StartBtn{
    position: absolute;
    right: 50px;
    top: 10px;
}
#PauseBtn{
    position: absolute;
    right: 50px;
    top: 10px;
}
#ResetBtn{
    position: absolute;
    right: 50px;
    top: 50px;
}
.btnStyle {
	border-radius: 4px;
	border: thin solid #037200;
	background-color: #037200c9;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size:20px;
	color: #ffffff;
	padding: 5px 15px;
    margin:8px 7px;
    text-align: center;
    width: 160px;
}

.btnStyle:active {
	border: thin solid #99CC00;
	background-color: #0372007d;
	color: #ffffff;
	cursor: pointer;
}

.btnStyle:hover {
	border: thin solid #037200;
	background-color: #0372007d;
	color: #ffffff;
	cursor: pointer;
}

/* reference: https://codepen.io/Paulie-D/pen/vGkHL */
.userPee {
    background-color: rgba(255,153,0, 0.5);
}

.landmark {
    background:url('../images/fire-hydrant.png');
    background-size: contain;
    background-repeat: no-repeat;
    /*background-color: rgba(255,153,0, 0.5);*/
}

.kennel {
    background:url('../images/kennel.png');
    background-size: contain;
    background-repeat: no-repeat; 
}
